html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

.flex-container1 {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.article5 {
    background-color: deepskyblue;
    color: black;
    padding: 5px;
    margin: 5px;
}
